* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

header {
  background-color: #487aa1;
  display: flex;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.logo {
  /* background-color: #d69a3a; */
  height: 80px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Courgette";
  font-size: 1.5em;
}

.span {
  color: darkgoldenrod;
}

.pesquisa {
  width: 600px;
  height: 40px;
  text-decoration: none;
  outline: none;
  font-size: 1.5em;
  margin: 20px 20px 20px 100px;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  border: none;
}

.menu_header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-content: center;
  margin-top: -30px;
}

.Link_menu_header {
  text-decoration: none;
  padding: 15px;
  font-size: 1.3em;
  margin: 0px 10px 0px 10px;
  width: 50px;
  height: 50px;
  color: white;
}

.texto_menu_header {
  text-align: center;
  opacity: 0;
}

.Link_menu_header:hover p {
  opacity: 1;
}

.icon {
  width: 60px;
  height: 60px;
}

.container_linguagens {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.texto_linguagen {
  font-size: 1.3em;
  text-decoration: none;
  opacity: 0;
  text-align: center;
}

.link_linguagen {
  text-decoration: none;
  color: white;
}

.link_linguagen:hover p {
  opacity: 1;
}

.img_linguagen {
  width: 80px;
  height: 80px;
}

.lista_menu_header {
  list-style: none;
}

.lista_menu_header_item {
  display: inline;
}

main {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr 1fr;
  row-gap: 20px;
}

#trilha_de_migalhas {
  margin: 10px 10px 10px 10px;
  grid-row: 1/2;
  grid-column: 1/3;
}

#trilha {
  margin: 0px 0px 0px 10px;
}

.migalhas {
  display: inline;
  color: #0000ff;
}

.migalhas a {
  text-decoration: none;
  color: #0000ff;
  font-size: 1.25em;
}

.migalhas a:hover {
  text-decoration: underline;
}

.acessibilidade {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100px;
  height: 300px;
  max-width: 100%;
  background-color: #7c8071;
  gap: 10px;
  position: fixed;
  left: -110px;
  top: 400px;
  border-radius: 10px;
  margin: 10px;
}

.hiden {
  left: 0px;
}

.botao_aumentarFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}

.botao_diminuirFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}

.modo_contraste {
  grid-column: 1/2;
  margin: 10px 10px 10px 10px;
  width: 78px;
  height: 42px;
  justify-self: center;
}

.modo_contraste img {
  width: 20px;
  height: 20px;
}

.btn_acessibiledade {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #487aa1;
  border-radius: 10px;
}

.seta {
  width: 20px;
  height: 20px;
}

.vira {
  transform: rotate(180deg);
}

.btn_acessibiledade:hover {
  background-color: #b2d9f7;
}

.Duvidas {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: right;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
}

.popup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid #b2d9f7;
  width: 800px;
  height: 500px;
  background-color: #487aa1;
  padding: 1.5%;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 22%;
  box-shadow: 0 0 1em;
}

.titulo_chat {
  font-size: 2em;
  text-align: center;
  color: white;
}

.textp_chat {
  font-size: 1.5em;
  text-align: left;
  width: 680px;
  color: white;
}

.identivicação {
  font-size: 1.5em;
  width: 680px;
  height: 6%;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.comentario {
  font-size: 1.5em;
  width: 680px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.container_btn_chat {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 15%;
}

.btn_chat_enviar {
  font-size: 1em;
  font-weight: bold;
  width: 10%;
  height: 200%;
  border-radius: 10px;
  border: solid #dde3ca;
  background-color: #7c8071;
  color: white;
}

.btn_chat_enviar:active {
  background-color: #dde3ca;
  border: solid #7c8071;
  color: black;
}

.btn_X {
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid #b2d9f7;
  border-width: 0.1px;
  color: red;
  background-color: #487aa1;
  position: relative;
  right: -390px;
  bottom: 480px;
}

.btn_X:active {
  color: black;
}

.container_login {
  grid-row: 2/3;
  grid-column: 2/4;
  justify-self: center;
  background-color: #7c8071;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  border-radius: 20px;
  border: solid #7c8071;
  margin: 10px 50px 60px 10px;
}

.titulo_acesse {
  grid-column: 1/3;
  justify-self: center;
  font-size: 2.2em;
  margin: 10px;
  align-self: center;
  color: white;
}

.texto_email {
  grid-column: 1/3;
  font-size: 1.5em;
  margin: 10px;
  align-self: center;
  color: white;
}

.input_email {
  grid-column: 1/3;
  margin: 10px;
  height: 25px;
  padding: 5px;
  font-size: 1.3em;
  border-radius: 8px;
  align-self: center;
}

.texto_senha {
  font-size: 1.5em;
  align-self: center;
  margin: 10px;
  color: white;
}

.texto_esqueci_a_Senha {
  justify-self: right;
  margin: 10px;
  align-self: center;
  font-size: 1.5em;
  color: white;
}

.input_senha {
  grid-column: 1/3;
  margin: 10px;
  height: 25px;
  padding: 5px;
  font-size: 1.3em;
  border-radius: 8px;
  align-self: center;
}

.btn_entrar {
  grid-column: 1/3;
  justify-self: center;
  height: 40px;
  margin: 10px;
  font-size: 1.5em;
  font-weight: 700;
  width: 300px;
  border-radius: 10px;
  color: white;
  background-color: #487aa1;
  border: none;
}

.btn_entrar:hover {
  background-color: #b2d9f7;
  cursor: pointer;
}

.texto_acesso {
  grid-column: 1/3;
  justify-self: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.acesso_com_google {
  grid-column: 1/3;
  grid-row: 8/9;
  justify-self: center;
  margin: 0px 10px 10px 10px;
}

.img_google {
  width: 40px;
  height: 40px;
}

.texto_não_tem_conta {
  grid-column: 1/3;
  justify-self: center;
  color: white;
  font-size: 1.5em;
}

.Criar_conta {
  grid-column: 1/3;
  justify-self: center;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  color: white;
  background-color: #487aa1;
}

.Criar_conta:hover {
  background-color: #b2d9f7;
}

footer {
  display: flex;
  border-width: 2px;
  justify-content: space-between;
  background-color: #487aa1;
  font-family: "Lato", sans-serif;
  padding: 0px 20px 0px 20px;
}

.texto_atendimento {
  font-size: 2em;
  justify-self: center;
  align-self: center;
  color: white;
}

.texto_pagamento {
  font-size: 2em;
  justify-self: center;
  grid-column: 1/10;
  grid-row: 1/2;
  color: white;
}

.formas_de_pagamaento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.pagamento {
  width: 80px;
  height: 60px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
}

.nossa_redes {
  display: grid;
}

.texto_nossas_redes {
  background-color: #dde3ca;
  justify-self: center;
  align-self: center;
  font-size: 2em;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}

.lista_redes {
  justify-self: center;
  align-self: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item_redes {
  display: inline;
}

.nosso_rede {
  width: 50px;
  height: 50px;
  margin: 25px 10px 0px 10px;
}

.texto_rodape_final {
  background-color: #dde3ca;
  border-radius: 50px;
  display: grid;
  width: 300px;
  height: 140px;
  justify-self: center;
  align-self: center;
  margin: 10px;
}

.texto_quer {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}

.texto_novidades {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}

@media (max-width: 1920px) {
  .formas_de_pagamaento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1080;
  }

  .pagamento {
    width: 80px;
    height: 60px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
  }

  .texto_pagamento {
    font-size: 2em;
    justify-self: center;
    grid-column: 1/7;
    grid-row: 1/2;
    color: white;
  }
}

@media (max-width: 1500px) {
  header {
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .formas_de_pagamaento {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 1080;
  }

  .pagamento {
    width: 80px;
    height: 60px;
    margin: 20px;
    background-color: white;
    border-radius: 50%;
  }

  .texto_pagamento {
    font-size: 2em;
    justify-self: center;
    grid-column: 1/5;
    grid-row: 1/2;
    color: white;
  }
}

@media (max-width: 1000px) {
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #b2d9f7;
    width: 500px;
    height: 500px;
    background-color: #487aa1;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }

  .titulo_chat {
    font-size: 1.5em;
    text-align: center;
    color: white;
  }

  .textp_chat {
    font-size: 1.3em;
    text-align: left;
    width: 100%;
    color: white;
  }

  .identivicação {
    font-size: 1.5em;
    width: 400px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }

  .comentario {
    font-size: 1.5em;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }

  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }

  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
    border: solid #dde3ca;
    background-color: #7c8071;
    color: white;
  }

  .btn_chat_enviar:active {
    background-color: #dde3ca;
    border: solid #7c8071;
    color: black;
  }

  .btn_X {
    font-size: 1.5em;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: solid #b2d9f7;
    border-width: 0.1px;
    color: red;
    background-color: #487aa1;
    position: relative;
    right: -240px;
    bottom: 470px;
  }

  .btn_X:active {
    color: black;
  }
}

@media (max-width: 500px) {
  .pesquisa {
    width: 300px;
  }

  input {
    width: 350px;
  }

  .container_login {
    width: 400px;
  }

  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #b2d9f7;
    width: 300px;
    height: 500px;
    background-color: #487aa1;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }

  .titulo_chat {
    font-size: 1em;
    text-align: center;
    color: white;
  }

  .textp_chat {
    font-size: 1em;
    text-align: left;
    width: 100%;
    color: white;
  }

  .identivicação {
    font-size: 1.5em;
    width: 250px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }

  .comentario {
    font-size: 1.5em;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }

  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }

  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
    border: solid #dde3ca;
    background-color: #7c8071;
    color: white;
  }

  .btn_X {
    font-size: 1.5em;
    right: -120px;
    bottom: 10px;
  }
}