* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
header {
  background-color: #487aa1;
  display: flex;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.logo {
  /* background-color: #d69a3a; */
  height: 80px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Courgette";
  font-size: 1.5em;
}
.span {
  color: darkgoldenrod;
}
.pesquisa {
  width: 600px;
  height: 40px;
  text-decoration: none;
  outline: none;
  font-size: 1.5em;
  margin: 20px 20px 20px 100px;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  border: none;
}
.menu_header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-content: center;
  margin-top: -30px;
}
.Link_menu_header {
  text-decoration: none;
  padding: 15px;
  font-size: 1.3em;
  margin: 0px 10px 0px 10px;
  width: 50px;
  height: 50px;
  color: white;
}
.texto_menu_header {
  text-align: center;
  opacity: 0;
}
.Link_menu_header:hover p {
  opacity: 1;
}
.icon {
  width: 60px;
  height: 60px;
}
.container_linguagens {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.texto_linguagen {
  font-size: 1.3em;
  text-decoration: none;
  opacity: 0;
  text-align: center;
}
.link_linguagen {
  text-decoration: none;
  color: white;
}
.link_linguagen:hover p {
  opacity: 1;
}
.img_linguagen {
  width: 80px;
  height: 80px;
}
.lista_menu_header {
  list-style: none;
}
.lista_menu_header_item {
  display: inline;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  font-family: "Lato", sans-serif;
}
#trilha_de_migalhas {
  margin: 10px 10px 10px 10px;
  grid-row: 1/2;
  z-index: 1;
}
#trilha {
  margin: 0px 0px 0px 10px;
}
.migalhas {
  display: inline;
}
.migalhas a {
  text-decoration: none;
  color: #0000ff;
  font-size: 1.25em;
}
.migalhas a:hover {
  text-decoration: underline;
}
.acessibilidade {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100px;
  height: 300px;
  max-width: 100%;
  background-color: #7c8071;
  gap: 10px;
  position: fixed;
  left: -110px;
  top: 400px;
  border-radius: 10px;
  margin: 10px;
}
.hiden {
  left: 0px;
}
.botao_aumentarFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}
.botao_diminuirFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}
.modo_contraste {
  grid-column: 1/2;
  margin: 10px 10px 10px 10px;
  width: 78px;
  height: 42px;
  justify-self: center;
}
.modo_contraste img {
  width: 20px;
  height: 20px;
}
.btn_acessibiledade {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #487aa1;
  border-radius: 10px;
}
.seta {
  width: 20px;
  height: 20px;
}
.vira {
  transform: rotate(180deg);
}
.btn_acessibiledade:hover {
  background-color: #b2d9f7;
}
.Duvidas {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: right;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
}
.Duvidas img {
  width: 50px;
  height: 50px;
}
.popup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid #b2d9f7;
  width: 800px;
  height: 500px;
  background-color: #487aa1;
  padding: 1.5%;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 22%;
  box-shadow: 0 0 1em;
}
.titulo_chat {
  font-size: 2em;
  text-align: center;
  color: white;
}
.textp_chat {
  font-size: 1.5em;
  text-align: left;
  width: 680px;
  color: white;
}
.identivicação {
  font-size: 1.5em;
  width: 680px;
  height: 6%;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.comentario {
  font-size: 1.5em;
  width: 680px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
.container_btn_chat {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 15%;
}
.btn_chat_enviar {
  font-size: 1em;
  font-weight: bold;
  width: 10%;
  height: 200%;
  border-radius: 10px;
  border: solid #dde3ca;
  background-color: #7c8071;
  color: white;
}
.btn_chat_enviar:active {
  background-color: #dde3ca;
  border: solid #7c8071;
  color: black;
}
.btn_X {
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid #b2d9f7;
  border-width: 0.1px;
  color: red;
  background-color: #487aa1;
  position: relative;
  right: -390px;
  bottom: 480px;
}
.btn_X:active {
  color: black;
}
.container_slider {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 40fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
}
.container_galeria {
  position: relative;
  grid-column: 2/3;
  display: flex;
}
.slider {
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 2000px;
  height: 500px;
  max-height: 500px;
  border-radius: 30px;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr;
}
.banner1 {
  background-color: #dde3ca;
}
.banner2 {
  background-color: #487aa1;
}
.banner3 {
  background-color: #ffffff;
}
.banner4 {
  background-color: #b2d9f7;
}
.cao_e_osso {
  width: 400px;
  height: 400px;
  justify-self: center;
  align-self: center;
  grid-row: 1/3;
}
.pegadas {
  width: 480px;
  height: 480px;
  left: 20px;
  position: relative;
  grid-column: 4/5;
  grid-row: 1/3;
}
.titulo_banner {
  font-size: 9em;
  grid-column: 2/4;
  justify-self: right;
  align-self: center;
  color: black;
}
.texto_banner1 {
  color: black;
  font-size: 2.6em;
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: right;
  text-align: center;
  width: 400px;
}
.texto_banner1 span {
  color: red;
  font-size: 1.1em;
}
.t1 {
  color: white;
}
.t2 {
  font-size: 5em;
  margin-top: -70px;
}
.v2 {
  grid-column: 2/4;
  width: 700px;
  color: white;
}
.v3 {
  grid-column: 2/5;
  font-size: 1.9em;
  justify-self: center;
  align-self: start;
  width: 1000px;
  margin: -70px 0px 0px -100px;
}
.texto_banner3 {
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: start;
  justify-self: right;
  text-align: center;
  font-size: 1.6em;
  margin: 0px -100px 0px 0px;
  color: black;
  width: 810px;
}
.texto_banner2 {
  font-size: 2em;
  grid-column: 2/4;
  grid-row: 2/3;
  justify-self: right;
  align-self: flex-end;
  margin-bottom: 50px;
  background-color: black;
  color: white;
  border-radius: 250px;
  padding: 10px 90px 10px 90px;
}
.on {
  opacity: 1;
}
#prev_button,
#next_button {
  width: 50px;
  height: 500px;
  border: none;
  background-color: transparent;
  font-size: 3em;
}
#prev_button:hover,
#next_button:hover {
  opacity: 0.5;
}
.container_menu_Principal {
  justify-self: center;
  align-self: center;
  margin: -10px 20px 70px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.box {
  position: relative;
  width: 210px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.box:hover:before {
  opacity: 1;
}
.box::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 210%;
  background-color: #38b6ff;
  animation: rodar 3s linear infinite;
  z-index: -1;
  opacity: 0;
}
@keyframes rodar {
  100% {
    transform: rotate(360deg);
  }
}
/* .box::after {
  content: "";
  position: absolute;
  background-color: #487aa1;
  inset: 5px;
  border-radius: inherit;
} */

.link_menu_Principal {
  width: 199px;
  height: 108px;
  background: linear-gradient(-30deg, #71a7d1 50%, #b2d9f7 50%);
  border: solid #b2d9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-family: "Courgette";
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.link_menu_Principal:hover {
  background-color: #b2d9f7;
  border: solid #487aa1;
  color: black;
}
.container_produtos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px;
}
.P_titulo {
  font-size: 2em;
  justify-self: center;
  margin: 20px;
}
.container_slider_2 {
  position: relative;
  padding: 15px;
  max-width: 2000px;
  margin: 0 auto;
}
.galeria_wrapper_2 {
  overflow-x: auto;
  height: 475px;
}
.galeria_wrapper_2::-webkit-scrollbar {
  display: none;
}
.galeria_2 {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}
.arrow_left,
.arrow_right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 2.5em;
  line-height: 250px;
  width: 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  transition: all 600ms ease-in-out;
  z-index: 1;
}
.arrow_right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}
.arrow_left:hover {
  opacity: 1;
}
.arrow_right:hover {
  opacity: 1;
}
.item {
  width: 354px;
  height: 435px;
  flex-shrink: 0;
  opacity: 0.6;
  transition: all 600ms ease-in-out;
}

.current_item {
  opacity: 1;
}

.produto {
  justify-self: center;
  background-color: aliceblue;
  display: grid;
  width: 350px;
  max-height: 500px;
  max-width: 350px;
  margin: 20px;
  border: solid lightgray;
  border-width: 2px;
  border-radius: 10px;
}
.imagem_produto {
  justify-self: center;
  max-width: 250px;
  max-height: 300px;
}
.P_texto_1 {
  margin: 0px 0px 0px 10px;
  justify-self: start;
  font-size: 1.5em;
}
.P_texto_2 {
  margin: 0px 0px 0px 10px;
  justify-self: start;
  font-size: 1.5em;
  color: red;
}
.P_texto_3 {
  margin: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.Avaliação {
  margin: 0px 0px 0px 10px;
  grid-column: 2/3;
  height: 50px;
}
.P_botao {
  background-color: #59027b;
  color: white;
  font-size: 2em;
  justify-self: center;
  padding: 7px 20px 5px 20px;
  border: solid #59027b;
  border-radius: 40px;
  text-decoration: none;
  margin: 0px 0px 10px 0px;
}
.container_marcas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.galeria_marcas {
  display: flex;
  flex-wrap: wrap;
}
.img0 {
  width: 228px;
  height: 228px;
  border: solid lightgray;
  border-width: 1px;
  border-left-width: 0px;
}
.img1 {
  border-left-width: 1px;
}
.titulo_marcas {
  font-size: 2em;
  margin: 10px;
}
.bannerBaixo {
  width: 2100px;
  height: 500px;
  align-self: center;
  margin: 150px 0px 150px 0px;
  background-color: #b2d9f7;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  border-radius: 20px;
}
.velo {
  width: 370px;
  height: 370px;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}
.titulo_bannerBaixo {
  grid-column: 1/3;
  font-size: 3em;
  justify-self: center;
}
.texto_bannerBaixo {
  justify-self: center;
  font-size: 3em;
  width: 900px;
  text-align: left;
}
aside {
  display: flex;
  grid-template-columns: 1fr 10fr 1fr;
  font-family: "Lato", sans-serif;
}
.container_buscas {
  justify-self: center;
  width: 100%;
  display: grid;
  margin: 0px;
  background-color: lightgrey;
}
.titulo_busca {
  justify-self: center;
  background-color: lightgrey;
  position: relative;
  bottom: 60px;
  padding: 20px 50px 30px 50px;
  border-radius: 10px;
}
.container_lista_busca {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0px 50px 50px 50px;
  background-color: lightgrey;
}
.container_lista_busca ul {
  justify-self: center;
  margin: 0px 30px 0px 30px;
}
.container_lista_busca ul li {
  margin: 0px 0px 20px 0px;
  list-style: none;
}
footer {
  display: flex;
  border-width: 2px;
  justify-content: space-between;
  background-color: #487aa1;
  font-family: "Lato", sans-serif;
  padding: 0px 20px 0px 20px;
}
.texto_atendimento {
  font-size: 2em;
  justify-self: center;
  align-self: center;
  color: white;
}
.texto_pagamento {
  font-size: 2em;
  justify-self: center;
  grid-column: 1/10;
  grid-row: 1/2;
  color: white;
}
.lista_pagamento {
  justify-self: center;
  align-self: center;
  list-style: none;
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0px;
  padding: 0px;
  height: 83px;
}
.formas_de_pagamaento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.pagamento {
  width: 80px;
  height: 60px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
}
.nossa_redes {
  display: grid;
}
.texto_nossas_redes {
  background-color: #dde3ca;
  justify-self: center;
  align-self: center;
  font-size: 2em;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}
.lista_redes {
  justify-self: center;
  align-self: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.item_redes {
  display: inline;
}
.nosso_rede {
  width: 50px;
  height: 50px;
  margin: 25px 10px 0px 10px;
}
.texto_rodape_final {
  background-color: #dde3ca;
  border-radius: 50px;
  display: grid;
  width: 300px;
  height: 140px;
  justify-self: center;
  align-self: center;
  margin: 10px;
}
.texto_quer {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}
.texto_novidades {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}
@media (max-width: 1920px) {
  header {
    grid-template-columns: 0.1fr 0.8fr 0.5fr 0.5fr;
  }
  .pesquisa {
    margin: 20px 20px 20px 50px;
  }
  .menu {
    grid-column: 1/5;
  }
  .menu_item {
    display: inline;
    margin: 50px;
  }
  main {
    grid-template-columns: 5fr 10fr 5fr;
  }
  .container_slider {
    grid-template-columns: 1fr 27fr 1fr;
  }

  .slider {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 1350px;
    height: 500px;
    max-height: 500px;
    border-radius: 30px;
    opacity: 0;
    display: grid;
  }
  .cao_e_osso {
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
  }
  .pegadas {
    width: 300px;
    height: 300px;
    left: 18px;
    position: relative;
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .p1 {
    left: 32px;
  }
  .p2 {
    left: 23px;
  }
  .p3 {
    left: 35px;
  }
  .p4 {
    top: 100px;
  }
  .titulo_banner {
    font-size: 8em;
    grid-column: 2/4;
    justify-self: right;
    align-self: center;
    color: black;
  }
  .texto_banner1 {
    color: black;
    font-size: 2.4em;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: right;
    text-align: center;
    width: 350px;
  }
  .texto_banner1 span {
    color: red;
    font-size: 1.1em;
  }
  .t1 {
    color: white;
  }
  .t2 {
    font-size: 5em;
    margin-top: -70px;
  }
  .v2 {
    grid-column: 2/4;
    width: 700px;
    color: white;
  }
  .v3 {
    grid-column: 2/5;
    font-size: 1.9em;
    justify-self: center;
    align-self: start;
    width: 1000px;
    margin: -70px 0px 0px -100px;
  }
  .texto_banner3 {
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: right;
    text-align: center;
    font-size: 1.6em;
    margin: 0px -100px 0px 0px;
    color: black;
    width: 810px;
  }
  .texto_banner2 {
    font-size: 2em;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: right;
    align-self: flex-end;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    border-radius: 250px;
    padding: 10px 90px 10px 90px;
  }
  .on {
    opacity: 1;
  }
  .container_destaque {
    margin: 100px 20px 20px 20px;
  }
  .item_destaque a img {
    height: 240px;
    width: 240px;
  }
  .container_slider_2 {
    max-width: 1500px;
  }
  .img0 {
    width: 168px;
    height: 168px;
  }
  .bannerBaixo {
    width: 1900px;
    height: 500px;
    align-self: center;
    margin: 150px 0px 150px 0px;
    background-color: #b2d9f7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    border-radius: 20px;
  }
  .velo {
    width: 370px;
    height: 370px;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  .titulo_bannerBaixo {
    grid-column: 1/3;
    font-size: 3em;
    justify-self: center;
  }
  .texto_bannerBaixo {
    justify-self: center;
    font-size: 3em;
    width: 900px;
    text-align: left;
  }
  .pagamento {
    width: 60px;
    height: 40px;
  }
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #b2d9f7;
    width: 800px;
    height: 500px;
    background-color: #487aa1;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }
  .titulo_chat {
    font-size: 2em;
    text-align: center;
    color: white;
  }
  .textp_chat {
    font-size: 1.5em;
    text-align: left;
    width: 680px;
    color: white;
  }
  .identivicação {
    font-size: 1.5em;
    width: 680px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .comentario {
    font-size: 1.5em;
    width: 680px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }
  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 10%;
    height: 200%;
    border-radius: 10px;
    border: solid #dde3ca;
    background-color: #7c8071;
    color: white;
  }
  .btn_chat_enviar:active {
    background-color: #dde3ca;
    border: solid #7c8071;
    color: black;
  }
  .btn_X {
    font-size: 2em;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: solid #b2d9f7;
    border-width: 0.1px;
    color: red;
    background-color: #487aa1;
    position: relative;
    right: -390px;
    bottom: 480px;
  }
  .btn_X:active {
    color: black;
  }
}
@media (max-width: 1500px) {
  main {
    grid-template-columns: 5fr 10fr 5fr;
  }
  .container_slider {
    grid-template-columns: 1fr 21fr 1fr;
  }

  .slider {
    position: absolute;
    justify-self: center;
    align-self: center;
    width: 1000px;
    height: 500px;
    max-height: 500px;
    border-radius: 30px;
    opacity: 0;
    display: grid;
  }
  .cao_e_osso {
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
  }
  .pegadas {
    width: 280px;
    height: 280px;
    left: 18px;
    position: relative;
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .p1 {
    left: 0px;
  }
  .p2 {
    left: 0px;
    top: 40px;
  }
  .p3 {
    left: 0px;
    top: 40px;
  }
  .p4 {
    left: 0;
    top: 10px;
  }
  .titulo_banner {
    font-size: 4em;
    grid-column: 2/5;
    grid-row: 1/2;
    justify-self: center;
    margin-left: -180px;
    align-self: center;
    color: black;
  }
  .texto_banner1 {
    color: black;
    font-size: 1.4em;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: right;
    text-align: center;
    width: 350px;
  }
  .texto_banner1 span {
    color: red;
    font-size: 1.1em;
  }
  .t1 {
    color: white;
  }
  .t2 {
    font-size: 5em;
    margin-top: -70px;
  }
  .v2 {
    grid-column: 2/4;
    width: 400px;
    color: white;
  }
  .v3 {
    grid-column: 2/5;
    font-size: 1em;
    justify-self: center;
    align-self: start;
    width: 500px;
    margin: -70px 0px 0px -100px;
  }
  .texto_banner3 {
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: right;
    text-align: center;
    font-size: 1em;
    margin: 0px -100px 0px 0px;
    color: black;
    width: 410px;
  }
  .texto_banner2 {
    font-size: 2em;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    border-radius: 250px;
    padding: 10px 90px 10px 90px;
  }
  .on {
    opacity: 1;
  }
  .container_destaque {
    margin: 100px 20px 20px 20px;
  }
  .item_destaque a img {
    height: 200px;
    width: 200px;
  }
  .container_slider_2 {
    max-width: 900px;
  }
  .img0 {
    width: 108px;
    height: 108px;
  }
  .bannerBaixo {
    width: 1200px;
    height: 400px;
    align-self: center;
    margin: 150px 0px 150px 0px;
    background-color: #b2d9f7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    border-radius: 20px;
  }
  .velo {
    width: 270px;
    height: 270px;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  .titulo_bannerBaixo {
    font-size: 2em;
  }
  .texto_bannerBaixo {
    font-size: 2em;
    width: 500px;
  }
  .pagamento {
    width: 60px;
    height: 40px;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-width: 2px;
    background-color: #487aa1;
    font-family: "Lato", sans-serif;
  }
  .texto_atendimento {
    font-size: 1.5em;
  }
  .texto_pagamento {
    font-size: 1.9em;
  }
  .pagamento {
    width: 80px;
    height: 50px;
    margin: 10px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 50%;
  }
  .nossa_redes {
    width: 100%;
    height: 100%;
    display: grid;
  }
  .texto_nossas_redes {
    background-color: #dde3ca;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
    border-radius: 50px;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
  }

  .item_redes {
    display: inline;
  }
  .texto_rodape_final {
    width: 200px;
  }
  .texto_quer {
    font-size: 1.5em;
  }
  .texto_novidades {
    font-size: 1.5em;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  .container_menu_Principal {
    flex-direction: column;
  }
  .container_slider {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
    width: 500px;
  }
  .container_galeria {
    width: 500px;
  }
  .slider {
    width: 500px;
    height: 700;
  }
  .cao_e_osso {
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    grid-row: 1/3;
  }
  .pegadas {
    width: 180px;
    height: 180px;
    left: 18px;
    position: relative;
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .p1 {
    left: 0px;
  }
  .p2 {
    left: 0px;
    top: 40px;
  }
  .p3 {
    left: 0px;
    top: 40px;
  }
  .p4 {
    left: 0;
    top: 10px;
  }
  .titulo_banner {
    font-size: 1em;
    grid-column: 2/5;
    grid-row: 1/2;
    justify-self: center;
    margin-left: 0px;
    align-self: center;
    color: black;
  }
  .texto_banner1 {
    color: black;
    font-size: 1em;
    grid-column: 3/4;
    grid-row: 2/3;
    justify-self: right;
    text-align: center;
    width: 150px;
  }
  .texto_banner1 span {
    color: red;
    font-size: 1em;
  }
  .t1 {
    color: white;
  }
  .t2 {
    font-size: 1em;
    margin-top: -70px;
  }
  .v2 {
    grid-column: 2/4;
    width: 150px;
    color: white;
  }
  .v3 {
    grid-column: 2/5;
    font-size: 1em;
    justify-self: center;
    align-self: start;
    width: 240px;
    margin: -70px 0px 0px -100px;
  }
  .texto_banner3 {
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: start;
    justify-self: right;
    text-align: center;
    font-size: 1em;
    margin: 0px -100px 0px 0px;
    color: black;
    width: 240px;
  }
  .texto_banner2 {
    font-size: 1em;
    grid-column: 2/5;
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 80px 10px 80px;
  }
  .container_slider_2 {
    max-width: 500px;
  }
  .galeria_marcas {
    flex-direction: column;
  }
  .bannerBaixo {
    width: 700px;
    height: 400px;
    align-self: center;
    margin: 150px 0px 150px 0px;
    background-color: #b2d9f7;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    border-radius: 20px;
  }
  .velo {
    width: 220px;
    height: 220px;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;
  }
  .titulo_bannerBaixo {
    font-size: 1.5em;
  }
  .texto_bannerBaixo {
    font-size: 1.5em;
    width: 300px;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #b2d9f7;
    width: 500px;
    height: 500px;
    background-color: #487aa1;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }
  .titulo_chat {
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
  .textp_chat {
    font-size: 1.3em;
    text-align: left;
    width: 100%;
    color: white;
  }
  .identivicação {
    font-size: 1.5em;
    width: 400px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .comentario {
    font-size: 1.5em;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }
  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
    border: solid #dde3ca;
    background-color: #7c8071;
    color: white;
  }
  .btn_chat_enviar:active {
    background-color: #dde3ca;
    border: solid #7c8071;
    color: black;
  }
  .btn_X {
    font-size: 1.5em;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: solid #b2d9f7;
    border-width: 0.1px;
    color: red;
    background-color: #487aa1;
    position: relative;
    right: -240px;
    bottom: 470px;
  }
  .btn_X:active {
    color: black;
  }
}
@media (max-width: 500px) {
  .pesquisa {
    width: 300px;
  }
  .slider {
    width: 350px;
  }
  .container_slider {
    display: none;
  }
  .titulo_marcas {
    font-size: 2em;
  }
  .container_marcas {
    width: 300px;
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: left;
  }
  .container_slider_2 {
    max-width: 300px;
  }
  .container_produtos {
    width: 300px;
    margin: 0px;
    align-self: center;
  }
  .bannerBaixo {
    width: 300px;
  }
  .bannerBaixo img {
    display: none;
  }
  .texto_bannerBaixo {
    grid-column: 1/3;
    align-self: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  aside {
    display: none;
  }
  .formas_de_pagamaento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid #b2d9f7;
    width: 300px;
    height: 500px;
    background-color: #487aa1;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }
  .titulo_chat {
    font-size: 1em;
    text-align: center;
    color: white;
  }
  .textp_chat {
    font-size: 1em;
    text-align: left;
    width: 100%;
    color: white;
  }
  .identivicação {
    font-size: 1.5em;
    width: 250px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .comentario {
    font-size: 1.5em;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }
  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
    border: solid #dde3ca;
    background-color: #7c8071;
    color: white;
  }
  .btn_X {
    font-size: 1.5em;
    right: -120px;
    bottom: 10px;
  }
}
