* {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
header {
  background-color: black;
  border-bottom: solid white;
  display: flex;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
.logo {
  /* background-color: #d69a3a; */
  height: 80px;
  width: 200px;
  border-radius: 20px;
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Courgette";
  font-size: 1.5em;
}
.span {
  color: darkgoldenrod;
}
.pesquisa {
  width: 600px;
  height: 40px;
  text-decoration: none;
  outline: none;
  font-size: 1.5em;
  margin: 20px 20px 20px 100px;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
  border: none;
}
.menu_header {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-content: center;
  margin-top: -30px;
}
.Link_menu_header {
  text-decoration: none;
  padding: 15px;
  font-size: 1.3em;
  margin: 0px 10px 0px 10px;
  width: 50px;
  height: 50px;
  color: white;
}
.texto_menu_header {
  text-align: center;
  opacity: 0;
}
.Link_menu_header:hover p {
  opacity: 1;
}
.icon {
  width: 60px;
  height: 60px;
}
.container_linguagens {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.texto_linguagen {
  font-size: 1.3em;
  text-decoration: none;
  opacity: 0;
  text-align: center;
}
.link_linguagen {
  text-decoration: none;
  color: white;
}
.link_linguagen:hover p {
  opacity: 1;
}
.img_linguagen {
  width: 80px;
  height: 80px;
}
.lista_menu_header {
  list-style: none;
}
.lista_menu_header_item {
  display: inline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
#trilha_de_migalhas {
  margin: 10px 10px 10px 10px;
  align-self: flex-start;
}
#trilha {
  margin: 0px 0px 0px 10px;
}
.migalhas {
  display: inline;
  color: #0000ff;
}
.migalhas a {
  text-decoration: none;
  color: #0000ff;
  font-size: 1.25em;
}
.migalhas a:hover {
  text-decoration: underline;
}
.acessibilidade {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100px;
  height: 300px;
  max-width: 100%;
  background-color: black;
  border: solid white;
  gap: 10px;
  position: fixed;
  left: -120px;
  top: 400px;
  border-radius: 10px;
  margin: 10px;
}
.hiden {
  left: 0px;
}
.botao_aumentarFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}
.botao_diminuirFonte {
  grid-column: 1/2;
  justify-self: center;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
}
.modo_contraste {
  grid-column: 1/2;
  margin: 10px 10px 10px 10px;
  width: 78px;
  height: 42px;
  justify-self: center;
}
.modo_contraste img {
  width: 20px;
  height: 20px;
}
.btn_acessibiledade {
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: center;
  justify-self: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: black;
  border: solid white;
  border-radius: 10px;
}
.seta {
  width: 20px;
  height: 20px;
}
.vira {
  transform: rotate(180deg);
}
.btn_acessibiledade:hover {
  background-color: gray;
}
.Duvidas {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: right;
  width: 60px;
  height: 60px;
  background: none;
  border: none;
  cursor: pointer;
}
.Duvidas img {
  width: 50px;
  height: 50px;
}
.popup {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: solid white;
  width: 800px;
  height: 500px;
  background-color: black;
  padding: 1.5%;
  border-radius: 20px;
  position: fixed;
  z-index: 1;
  left: 30%;
  top: 22%;
  box-shadow: 0 0 1em;
}
.titulo_chat {
  font-size: 2em;
  text-align: center;
  color: white;
}
.textp_chat {
  font-size: 1.5em;
  text-align: left;
  width: 680px;
  color: white;
}
.identivicação {
  font-size: 1.5em;
  width: 680px;
  height: 6%;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
.comentario {
  font-size: 1.5em;
  width: 680px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
}
.container_btn_chat {
  width: 100%;
  display: flex;
  justify-content: left;
  padding-left: 15%;
}
.btn_chat_enviar {
  font-size: 1em;
  font-weight: bold;
  width: 10%;
  height: 200%;
  border-radius: 10px;
  border: solid white;
  background-color: black;
  color: white;
}
.btn_chat_enviar:active {
  background-color: white;
  border: solid black;
  color: black;
}
.btn_X {
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: solid white;
  border-width: 0.1px;
  color: red;
  background-color: black;
  position: relative;
  right: -390px;
  bottom: 480px;
}
.btn_X:active {
  color: white;
}
.banner {
  background-color: #b2d9f7;
  width: 100%;
  height: 100%;
  max-width: 1700px;
  max-height: 560px;
  border-radius: 40px;
  margin: 80px 20px 80px 20px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.cao,
.gato {
  width: 200px;
  height: 200px;
}
.cao {
  align-self: flex-end;
  position: relative;
  left: 180px;
  bottom: 50px;
}
.gato {
  position: relative;
  top: 50px;
}
.racoes {
  width: 500px;
  height: 500px;
}
.textos_banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo_banner {
  font-size: 8em;
}
.subtitulo_banner {
  font-size: 3em;
}
.patas {
  position: relative;
  right: -250px;
  top: 20px;
}
.container_produtos {
  display: flex;
  width: 100%;
  max-width: 1450px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.box_produto {
  justify-self: center;
}
.box_titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.P_titulo {
  font-size: 3.5em;
  justify-self: center;
  grid-column: 1/6;
  margin: 20px;
  color: white;
}
.produto {
  justify-self: center;
  background-color: black;
  display: grid;
  width: 350px;
  max-height: 400px;
  max-width: 250px;
  margin: 10px;
  border: solid white;
  border-width: 2px;
  border-radius: 10px;
}
.imagem_produto {
  justify-self: center;
  max-width: 250px;
  max-height: 300px;
}
.P_texto_1 {
  margin: 0px 0px 0px 10px;
  justify-self: start;
  font-size: 1em;
  color: white;
}
.P_texto_2 {
  margin: 0px 0px 0px 10px;
  justify-self: start;
  font-size: 1em;
  color: white;
}
.P_texto_3 {
  margin: 0px 0px 0px 10px;
  justify-self: start;
  display: grid;
  justify-items: start;
  align-items: center;
  font-size: 1em;
  color: white;
}
.Avaliação {
  margin: 0px 0px 0px 10px;
  grid-column: 2/3;
  height: 25px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-width: 2px;
  background-color: black;
  border-top: solid white;
  margin-top: 40px;
}
.texto_atendimento {
  font-size: 2em;
  justify-self: center;
  align-self: center;
  color: white;
}
.formas_de_pagamaento {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.texto_pagamento {
  font-size: 2em;
  justify-self: center;
  grid-column: 1/10;
  grid-row: 1/2;
  color: white;
}
.pagamento {
  width: 80px;
  height: 60px;
  margin: 20px;
  background-color: white;
  border-radius: 50%;
}
.nossa_redes {
  width: 100%;
  height: 100%;
  display: grid;
}
.texto_nossas_redes {
  background-color: black;
  border: solid white;
  color: white;
  justify-self: center;
  align-self: center;
  font-size: 2em;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
  margin-top: 10px;
}
.lista_redes {
  justify-self: center;
  align-self: center;
  list-style: none;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 20px 0px;
  background-color: white;
  border-radius: 100px;
}

.item_redes {
  display: inline;
}
.nosso_rede {
  width: 50px;
  height: 50px;
  margin: 25px 10px 0px 10px;
}
.texto_rodape_final {
  background-color: black;
  border-radius: 50px;
  display: grid;
  width: 300px;
  height: 140px;
  justify-self: center;
  align-self: center;
  margin: 10px;
  color: white;
  border: solid white;
}
.texto_quer {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
  color: white;
}
.texto_novidades {
  justify-self: center;
  align-self: center;
  font-size: 1.8em;
}
@media (max-width: 1920px) {
}
@media (max-width: 1500px) {
  .banner {
    max-width: 1300px;
  }
  .cao,
  .gato {
    width: 180px;
    height: 180px;
  }
  .cao {
    left: 180px;
    bottom: 50px;
  }
  .gato {
    top: 50px;
  }
  .racoes {
    width: 400px;
    height: 400px;
  }
  .titulo_banner {
    font-size: 6em;
  }
  .subtitulo_banner {
    font-size: 2em;
  }
  .patas {
    right: -150px;
    top: 50px;
  }
}
@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }
  .banner {
    max-width: 800px;
    max-height: 560px;
  }
  .cao,
  .gato {
    display: none;
  }
  .racoes {
    width: 400px;
    height: 400px;
    z-index: 0;
    position: relative;
    left: 40px;
  }
  .textos_banner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .titulo_banner {
    font-size: 6em;
  }
  .subtitulo_banner {
    font-size: 2em;
  }
  .patas {
    position: relative;
    right: -130px;
    top: 70px;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .texto_atendimento {
    text-align: center;
  }
  .formas_de_pagamaento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }
  .titulo_chat {
    font-size: 1.5em;
    text-align: center;
    color: white;
  }
  .textp_chat {
    font-size: 1.3em;
    text-align: left;
    width: 100%;
    color: white;
  }
  .identivicação {
    font-size: 1.5em;
    width: 400px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .comentario {
    font-size: 1.5em;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }
  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
  }
  .btn_X {
    font-size: 1.5em;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: relative;
    right: -240px;
    bottom: 470px;
  }
}
@media (max-width: 500px) {
  .pesquisa {
    width: 400px;
    margin: 20px 0px 20px 0px;
  }
  .banner {
    max-width: 400px;
    max-height: 560px;
  }
  .racoes {
    display: none;
  }
  .popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 500px;
    padding: 1.5%;
    border-radius: 20px;
    position: fixed;
    z-index: 1;
    left: 30%;
    top: 22%;
    box-shadow: 0 0 1em;
  }
  .titulo_chat {
    font-size: 1em;
    text-align: center;
    color: white;
  }
  .textp_chat {
    font-size: 1em;
    text-align: left;
    width: 100%;
    color: white;
  }
  .identivicação {
    font-size: 1.5em;
    width: 250px;
    height: 6%;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: none;
    padding: 10px;
  }
  .comentario {
    font-size: 1.5em;
    width: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
  }
  .container_btn_chat {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 15%;
  }
  .btn_chat_enviar {
    font-size: 1em;
    font-weight: bold;
    width: 20%;
    height: 200%;
    border-radius: 10px;
  }
  .btn_X {
    font-size: 1.5em;
    right: -120px;
    bottom: 10px;
  }
}
